{% extends "base.html" %}

{% block title %}Добавить блок{% endblock %}

{% block header %}Добавить новый блок{% endblock %}

{% block container %}
    <form id="mainForm" method="post" enctype="multipart/form-data">
        {% include 'language_controls.html' %}
        {% include 'media_controls.html' %}

        <div class="form-actions">
            <button type="button" class="save-block-button" onclick="submitForm()">
                Сохранить блок
            </button>
        </div>
    </form>
{% endblock %}