{% extends "base.html" %}

{% block title %}Добавить блок{% endblock %}

{% block header %}
    <h1>Добавить новый блок</h1>
    <div class="header-controls">
        <a href="/" class="home-button">На главную</a>
    </div>
{% endblock %}

{% block container %}
    <form id="mainForm" method="post" enctype="multipart/form-data">
        {% include 'language_controls.html' %}
        {% include 'media_controls.html' %}

        <div class="form-actions">
            <button type="button" class="save-block-button" onclick="submitForm()">
                Сохранить блок
            </button>
        </div>
    </form>
{% endblock %}