<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Редактирование блока</title>
    <script src="/static/admin.js"></script>
    <script>
        function showBlockDetails() {
            const select = document.getElementById("blockSelect");
            currentBlockId = select.value;
            loadBlockData(currentBlockId);
        }

        function renderSliders() {
            renderSlider('image');
            renderSlider('video');
        }
    </script>
</head>
<body>
    <header>
        <h1>Редактирование блока</h1>
        <div class="header-controls">
            <a href="/" class="home-button">На главную</a>
        </div>
    </header>
    <div class="container">
        <div class="language-indicators">
            <div id="indicator_ru" class="language-indicator">ru</div>
            <div id="indicator_en" class="language-indicator">en</div>
            <div id="indicator_zh" class="language-indicator">zh</div>
            <div id="indicator_ar" class="language-indicator">ar</div>
        </div>

        <form>
            <h2>Выберите блок:</h2>
            <select id="blockSelect" onchange="showBlockDetails()">
                {% for block in blocks %}
                    <option value="{{ loop.index0 }}">{{ block.title.ru }}</option>
                {% endfor %}
            </select>
        </form>

        <h3>Название блока:</h3>
        <input type="text" id="editTitleRU" oninput="updateLanguageIndicator('ru')">
        <input type="text" id="editTitleEN" oninput="updateLanguageIndicator('en')">
        <input type="text" id="editTitleZH" oninput="updateLanguageIndicator('zh')">
        <input type="text" id="editTitleAR" oninput="updateLanguageIndicator('ar')">

        <h3>Описание блока:</h3>
        <textarea id="editContentRU" oninput="updateLanguageIndicator('ru')"></textarea>
        <textarea id="editContentEN" oninput="updateLanguageIndicator('en')"></textarea>
        <textarea id="editContentZH" oninput="updateLanguageIndicator('zh')"></textarea>
        <textarea id="editContentAR" oninput="updateLanguageIndicator('ar')"></textarea>

        {% include 'media_controls.html' %}

        <button class="save-block-button" onclick="submitEditForm()">Сохранить все изменения</button>
    </div>
</body>
</html>