<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <h1>Иерархия блоков</h1>
    </header>
    <div class="container">
        <div>
            <a href="/blocks/new"><button>Добавить блок</button></a>
            <a href="/blocks/select"><button>Редактировать блоки</button></a>
            <a href="/messages/new"><button>Разослать сообщение</button></a>
        </div>
    </div>
</body>
</html>
