<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <h1>Иерархия блоков</h1>
    </header>
    <div class="container">
        <div class="button-container">
            <a href="/blocks/new" class="action-button">Добавить блок</a>
            <a href="/blocks/select" class="action-button">Редактировать блоки</a>
            <a href="/broadcast" class="action-button">Разослать сообщение</a>
        </div>
    </div>
</body>
</html>