<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Редактировать блоки</title>
</head>
<body>
    <header>
        <h1>Выбрать блок для редактирования</h1>
    </header>
    <div class="container">
        <form action="/blocks/edit" method="get">
            <label for="title">Выберите блок:</label>
            <select id="title" name="title" required>
                {% for block in blocks %}
                    <option value="{{ block.title }}">{{ block.title }}</option>
                {% endfor %}
            </select><br><br>
            <button type="submit">Редактировать</button>
        </form>
    </div>
</body>
</html>
